{{ define "main" }}
	<main>
	{{with $.Param "header_image"}}
		<img src="{{ $.Param "header_image"}}" alt="{{ $.Param "header_alt_txt"}}" style="width:128px;height:128px">
	{{end}}
		<article>
			<h1>{{ .Title }}</h1>
			<time>{{ .Date.Format "02.01.2006" }}</time>
			<div>
				{{ .Content | markdownify }}
			</div>
			<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
