<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
	{{- partial "header" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
	{{- partial "footer" . -}}
    </body>
</html>
