<footer>
	<p>

		 <a rel="license" href= "{{ .Site.Params.licenselocation }}"><image style="border-width:0; display: block; margin-left: auto; margin-right: auto;" src="{{ .Site.Params.imagesrc }}"></a><br>This work is licensed by {{ .Site.Params.ownername }} under a <a rel="license" href="{{ .Site.Params.licenselocation }}"> {{ .Site.Params.licensefullname }}</a> {{ .Site.Params.footertext | markdownify }}

	</p>
</footer>
