<!doctype=html>
<html>
<head>
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<!-- INTERNAL STYLES -->
<link rel="stylesheet" 
href="/css/avsstyle.css"/>

<!-- EXTERNAL STYLES -->
<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" 
integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" 
crossorigin="anonymous"/>

</head>
</html>
