{{ define "main"}}
<main>
<h1>404</h1>
<p>
Sorry, I haven't gotten to making this 404 page look cool yet, but it looks like 
somehow there's a page missing! If you can't find what you thought was here, 
feel free to reach out to me on mastodon! @avalon@social.tchncs.de </p>
</main>
{{ partial "sidebar.html" .}}
{{ end }}
